<section class="content-header">
  <div class="container-fluid" *ngIf="!isLoading">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">Add / Edit Truck</h1>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <form class="form-horizontal" [formGroup]="mform" (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Registration No.&nbsp;<span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Registration No." name="registration_num" formControlName="registration_num"
                [ngClass]="{'is-invalid': invalid('registration_num')}">
              <small class="badge badge-danger" 
                *ngIf="invalid('registration_num') && f.registration_num.hasError('required')">
                Registration No. is required
              </small>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-dark mr-2" (click)="onBack()"><i class="fas fa-chevron-circle-left"></i> Back</button>
          <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
        </div>
      </div>
    </form>
  </div>
</section>
