<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">Create New Purchase Order</h1>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <form class="form-horizontal" [formGroup]="mform" (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">PO Number</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Issue To&nbsp;<span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <ng-select 
                [items]="miningCompanyList" 
                bindLabel="name" 
                bindValue="id" 
                placeholder="Please select"
                formControlName="mining_company_id" 
                name="mining_company_id"></ng-select>
              <small class="badge badge-danger" 
                *ngIf="invalid('mining_company_id') && f.mining_company_id.hasError('required')">
                Issue To is required
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Truck&nbsp;<span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <ng-select 
                [items]="truckList" 
                bindLabel="registration_num" 
                bindValue="id" 
                placeholder="Please select"
                formControlName="truck_id" 
                name="truck_id"></ng-select>
              <small class="badge badge-danger" 
                *ngIf="invalid('truck_id') && f.truck_id.hasError('required')">
                Truck is required
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Driver&nbsp;<span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <ng-select 
                [items]="driverList" 
                bindLabel="label" 
                bindValue="id" 
                placeholder="Please select"
                formControlName="driver_id" 
                name="driver_id"></ng-select>
              <small class="badge badge-danger" 
                *ngIf="invalid('driver_id') && f.driver_id.hasError('required')">
                Driver is required
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Material Information</h3>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Material&nbsp;<span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <ng-select 
                [items]="materialList" 
                bindLabel="name" 
                bindValue="id" 
                placeholder="Please select"
                formControlName="material_id" 
                name="material_id"></ng-select>
              <small class="badge badge-danger" 
                *ngIf="invalid('material_id') && f.material_id.hasError('required')">
                Material is required
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Weight (kg)&nbsp;<span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Weight (kg)" name="weight" formControlName="weight"
                [ngClass]="{'is-invalid': invalid('weight')}">
              <small class="badge badge-danger" 
                *ngIf="invalid('weight') && f.weight.hasError('required')">
                Weight is required
              </small>
              <small class="badge badge-danger" 
                *ngIf="invalid('weight') && f.weight.hasError('pattern')">
                Weight is invalid
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Receiver Information</h3>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name&nbsp;<span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Name" name="receiver_name" formControlName="receiver_name"
                [ngClass]="{'is-invalid': invalid('receiver_name')}">
              <small class="badge badge-danger" 
                *ngIf="invalid('receiver_name') && f.receiver_name.hasError('required')">
                Name is required
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Address&nbsp;<span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Address" name="receiver_addr_line_1" formControlName="receiver_addr_line_1"
                [ngClass]="{'is-invalid': invalid('receiver_addr_line_1')}">
              <small class="badge badge-danger" 
                *ngIf="invalid('receiver_addr_line_1') && f.receiver_addr_line_1.hasError('required')">
                Address is required
              </small>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
              <input type="text" class="form-control" placeholder="Address 2" name="receiver_addr_line_2" formControlName="receiver_addr_line_2">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
              <input type="text" class="form-control" placeholder="Address 3" name="receiver_addr_line_3" formControlName="receiver_addr_line_3">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Postcode&nbsp;<span class="text-danger">*</span></label>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="Postcode" name="receiver_postcode" formControlName="receiver_postcode"
                [ngClass]="{'is-invalid': invalid('receiver_postcode')}">
              <small class="badge badge-danger" 
                *ngIf="invalid('receiver_postcode') && f.receiver_postcode.hasError('required')">
                Postcode is required
              </small>
            </div>
            <label class="col-sm-1 col-form-label">City&nbsp;<span class="text-danger">*</span></label>
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="City" name="receiver_city" formControlName="receiver_city"
                [ngClass]="{'is-invalid': invalid('receiver_city')}">
              <small class="badge badge-danger" 
                *ngIf="invalid('receiver_city') && f.receiver_city.hasError('required')">
                Postcode is required
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">State&nbsp;<span class="text-danger">*</span></label>
            <div class="col-sm-3">
              <ng-select 
                [items]="stateList" 
                bindLabel="name" 
                bindValue="id" 
                placeholder="Please select"
                formControlName="receiver_state_id" 
                name="receiver_state_id"></ng-select>
              <small class="badge badge-danger" 
                *ngIf="invalid('receiver_state_id') && f.receiver_state_id.hasError('required')">
                State is required
              </small>
            </div>
            <label class="col-sm-1 col-form-label">Country&nbsp;<span class="text-danger">*</span></label>
            <div class="col-sm-6">
              <ng-select
                [items]="countryList" 
                bindLabel="name" 
                bindValue="id" 
                placeholder="Please select"
                (change)="onChangeReceiverCountry($event)"
                name="receiver_country_id"
                formControlName="receiver_country_id"></ng-select>
              <small class="badge badge-danger" 
                *ngIf="invalid('receiver_country_id') && f.receiver_country_id.hasError('required')">
                Country is required
              </small>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="col-12">
            <button type="button" class="btn btn-outline-dark mr-2" (click)="onBack()"><i class="fas fa-chevron-circle-left"></i> Back</button>
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
