<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">Delivery Order Listing</h1>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6 col-12 p-1">
            <app-search-input [search]="search" (onSearch)="onSearch($event)" (onSearchChange)="onSearchChange($event)"></app-search-input>
          </div>
          <div class="col-sm-4 col-12 p-1">
            <ng-select
              [(ngModel)]="do_status"
              [items]="doStatusList"
              [multiple]="true"
              bindLabel="name"
              bindValue="id"
              placeholder="Please select"
              name="do_status"></ng-select>
          </div>
          <div class="col-sm-2 col-12 p-1 text-right">
            <button type="button" class="btn btn-primary mr-2" (click)="onApplyFilter()">Apply</button>
            <button type="button" class="btn btn-primary" (click)="goto('create')"><i class="fas fa-plus"></i> Issue DO</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-center" *ngIf="isEmpty(list) && !isLoading">
          <h4>No records found</h4>
        </div>

        <div class="table-responsive" *ngIf="!isEmpty(list) && !isLoading">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>
                  <app-sort-column [name]="'DO No.'" [sort]="'do_num'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'DO Created Date'" [sort]="'created_date'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)" class="text-nowrap"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Material'" [sort]="'material__name'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)" class="text-nowrap"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Truck'" [sort]="'truck__registration_num'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)" class="text-nowrap"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Vehicle Entry Time'" [sort]="'checkin_date'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Vehicle Exit Time'" [sort]="'checkout_date'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let o of list">
                <td>
                  <div>{{ o.do_num }}</div>
                  <div><h5><span class="badge badge-info">{{ getDOStatus(o) }}</span></h5></div>
                  <div><h6><span class="badge badge-warning">{{ o.weight }} tons</span></h6></div>
                </td>
                <td>{{ o.created_date | date:'dd/MM/yyyy hh:mm aaa' }}</td>
                <td>{{ o.material.name | uppercase }}</td>
                <td>
                  <div class="text-nowrap"><h5><span class="badge badge-dark">{{ o.truck.registration_num }}</span></h5></div>
                  <div>{{ o.driver.name }}</div>
                  <div>{{ o.driver.id_num }}</div>
                </td>
                <td>
                  <div>{{ o.checkin_date | date:'dd/MM/yyyy hh:mm aaa' }}</div>
                  <div *ngIf="o.checkin_date"><h6><span class="badge badge-warning">{{ o.checkin_weight }} tons</span></h6></div>
                </td>
                <td>
                  <div>{{ o.checkout_date | date:'dd/MM/yyyy hh:mm aaa' }}</div>
                  <div *ngIf="o.checkout_date"><h6><span class="badge badge-warning">{{ o.checkout_weight }} tons</span></h6></div>
                </td>
                <td class="text-nowrap">
                  <button type="button" class="btn btn-sm btn-primary mr-2" (click)="onEdit(o)" *ngIf="o.status === DOStatus.NEW"><i class="fas fa-pencil-alt"></i></button>
                  <button type="button" class="btn btn-sm btn-primary mr-2" (click)="onView(o)" *ngIf="o.status !== DOStatus.NEW"><i class="fas fa-eye"></i></button>
                  <button type="button" class="btn btn-sm btn-success mr-2" (click)="onCheckIn(o)" *ngIf="!o.checkin_date && o.driver.id">Vehicle Entry</button>
                  <button type="button" class="btn btn-sm btn-danger mr-2" (click)="onCheckOut(o)" *ngIf="!o.checkout_date && o.checkin_date">Vehicle Exit</button>
                  <!-- <button type="button" class="btn btn-sm btn-primary mr-2" (click)="onReceived(o)" *ngIf="o.status === DOStatus.DELIVERING && isRoleMiningHQ">Received</button> -->
                  <button type="button" class="btn btn-sm btn-primary" (click)="onPermit(o)" *ngIf="o.permit !== null">Permit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer" *ngIf="totalCount" [ngClass]="{'d-none': isLoading}">
        <div class="float-right">
          <pagination 
            [totalItems]="totalCount" 
            [itemsPerPage]="pageSize" 
            [maxSize]="MAX_PAGE_NUMBERS" 
            [(ngModel)]="page" 
            (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>
    </div>
  </div>
</section>
