<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">Delivery Order Listing</h1>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6 col-12 p-1">
            <app-search-input [search]="search" (onSearch)="onSearch($event)"></app-search-input>
          </div>
          <div class="col-sm-2 col-12 p-1">
            <select class="form-control" name="do_status" [(ngModel)]="do_status" (change)="onDOStatusChange()">
              <option value="all">ALL</option>
              <option value="0">NEW</option>
              <option value="1">IN PROGRESS</option>
              <option value="2">DELIVERING</option>
              <option value="3">DELIVERED</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-center" *ngIf="isEmpty(list) && !isLoading">
          <h4>No records found</h4>
        </div>

        <div class="table-responsive" *ngIf="!isEmpty(list) && !isLoading">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>
                  <app-sort-column [name]="'DO No.'" [sort]="'do_num'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Date'" [sort]="'created_date'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Material'" [sort]="'purchase_order_detail__material__name'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Truck'" [sort]="'purchase_order_detail__truck__registration_num'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Driver'" [sort]="'purchase_order_detail__driver__name'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'I/C No.'" [sort]="'purchase_order_detail__driver__id_num'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Weight (kg)'" [sort]="'purchase_order_detail__weight'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>Status</th>
                <th>
                  <app-sort-column [name]="'Check In Time'" [sort]="'checkin_date'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Check Out Time'" [sort]="'checkout_date'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let o of list">
                <td>{{ o.do_num }}</td>
                <td>{{ o.created_date | date:'d MMM yyyy h:mm:ss aaa' }}</td>
                <td>{{ o.purchase_order_detail.material.name }}</td>
                <td>{{ o.purchase_order_detail.truck.registration_num }}</td>
                <td>{{ o.purchase_order_detail.driver.name }}</td>
                <td>{{ o.purchase_order_detail.driver.id_num }}</td>
                <td>
                  <ng-container *ngIf="!o.checkout_date">
                    {{ o.purchase_order_detail.weight }}
                  </ng-container>
                  <ng-container *ngIf="o.checkout_date">
                    {{ o.actual_weight }}
                  </ng-container>
                </td>
                <td>{{ getDOStatus(o) }}</td>
                <td>{{ o.checkin_date | date:'d MMM yyyy h:mm:ss aaa' }}</td>
                <td>{{ o.checkout_date | date:'d MMM yyyy h:mm:ss aaa' }}</td>
                <td class="text-nowrap">
                  <button class="btn btn-sm btn-primary mr-2" (click)="onCheckIn(o)" *ngIf="!o.checkin_date">Check In</button>
                  <button class="btn btn-sm btn-primary mr-2" (click)="onCheckOut(o)" *ngIf="!o.checkout_date && o.checkin_date">Check Out</button>
                  <button class="btn btn-sm btn-primary mr-2" (click)="onReceived(o)" *ngIf="o.status === DOStatus.DELIVERING && isRoleMiningHQ">Received</button>
                  <button class="btn btn-sm btn-primary" (click)="onPermit(o)" *ngIf="o.permit !== null">Permit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer" *ngIf="totalCount">
        <div class="float-right">
          <pagination 
            [totalItems]="totalCount" 
            [itemsPerPage]="pageSize" 
            [maxSize]="MAX_PAGE_NUMBERS" 
            [(ngModel)]="page" 
            (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>
    </div>
  </div>
</section>
