<section class="content">
  <div class="container-fluid" *ngIf="!isLoading">
    <div class="row">
      <div class="col-sm-2">
        <div>SALINAN JMG</div>
        <img src="assets/img/jmg.png" class="img-jmg">
      </div>
      <div class="col-sm-7">
        <div class="text-center text-bold">JABATAN MINERAL DAN GEOSAINS MALAYSIA</div>
        <div class="text-center text-bold">AKTA PEMBANGUNAN MINERAL 1994</div>
        <div class="text-center text-bold">PERATURAN-PERATURAN PEMBANGUNAN MINERAL (PELESENAN) 2016</div>
        <div class="text-center text-sm">(SUBPERATURAN 8(2))</div>
      </div>
      <div class="col-sm-3">
        <div class="float-right d-inline">
          <span class="text-bold">NO. SIRI: </span><span class="text-danger text-xl">{{ data.permit_num }}</span>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-sm-12">
        <div class="border-top border-dark header-line"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="text-bold text-left"><u>BUTIR-BUTIR PEMEGANG LESEN</u></div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td style="width: 60px">NAMA:</td>
              <td>
                <div class="border-bottom border-dark">{{ data.purchase_order.issue_to.name | uppercase }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td style="width: 130px">ALAMAT PREMIS:</td>
              <td>
                <div class="border-bottom border-dark">{{ issueToAddress1 | uppercase }}</div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="border-bottom border-dark">{{ issueToAddress2 | uppercase }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td style="width: 250px">NO. LESEN MINERAL/MEMPROSES:</td>
              <td>
                <div class="border-bottom border-dark">{{ data.purchase_order.issue_to.mining_license_num }}</div>
              </td>
              <td style="width: 170px">TARIKH LUPUT LESEN:</td>
              <td>
                <div class="border-bottom border-dark">{{ data.purchase_order.issue_to.mining_license_expiry_date | date:'d MMM yyyy' | uppercase }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-sm-12">
        <div class="border-top border-dark header-line"></div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <div class="text-bold text-left"><u>BUTIR-BUTIR PENGANGKUTAN MINERAL</u></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td style="width: 135px">NAMA PEMANDU:</td>
              <td>
                <div class="border-bottom border-dark">{{ data.purchase_order_detail.driver.name | uppercase }}</div>
              </td>
              <td style="width: 80px">NO. K.P.:</td>
              <td>
                <div class="border-bottom border-dark">{{ data.purchase_order_detail.driver.id_num | uppercase }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td style="width: 135px">NO. KENDERAAN:</td>
              <td style="width: 180px">
                <div class="border-bottom border-dark">{{ data.purchase_order_detail.truck.registration_num }}</div>
              </td>
              <td style="width: 95px">DESTINASI:</td>
              <td>
                <div class="border-bottom border-dark">{{ data.purchase_order_detail.recv_city | uppercase }} - {{ data.purchase_order_detail.recv_state.name | uppercase }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td style="width: 130px">JENIS MINERAL:</td>
              <td>
                <div class="border-bottom border-dark">{{ data.purchase_order_detail.material.name | uppercase }}, {{ data.purchase_order_detail.material.material_type | uppercase }}, {{ data.purchase_order_detail.material.grade | uppercase }}</div>
              </td>
              <td style="width: 70px">BERAT:</td>
              <td>
                <div class="border-bottom border-dark">{{ data.delivery_order.actual_weight | number }} tons</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-sm-12">
        <div class="border-top border-dark header-line"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="text-bold text-left"><u>AKUAN PENERIMAAN</u></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table table-sm table-borderless">
          <tr>
            <td style="width: 230px">NAMA DAN ALAMAT PENERIMA:</td>
            <td>
              <div class="border-bottom border-dark">{{ data.purchase_order_detail.recv_name | uppercase }}</div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="border-bottom border-dark">{{ destinationAddress | uppercase }}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-sm table-borderless">
          <tr>
            <td style="width: 130px">TARIKH TERIMA:</td>
            <td>
              <div class="border-bottom border-dark">&nbsp;{{ data.delivery_order.accepted_date | date:'d MMM yyyy' | uppercase }}</div>
            </td>
            <td style="width: 130px">TANDATANGAN:</td>
            <td>
              <div class="border-bottom border-dark">&nbsp;</div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="border border-dark">
          <table class="table table-sm table-borderless">
            <tbody>
              <tr>
                <td colspan="5"><div class="text-bold">UNTUK KEGUNAAN PEJABAT:</div></td>
              </tr>
              <tr>
                <td style="width: 120px">TARIKH LUPUT:</td>
                <td>
                  <div class="border-bottom border-dark">&nbsp;</div>
                </td>
                <td style="width: 180px">
                  <div class="border-bottom border-dark">&nbsp;</div>
                </td>
                <td style="width: 120px">TARIKH LUPUT:</td>
                <td>
                  <div class="border-bottom border-dark">&nbsp;</div>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td style="width: 180px">PEN. PENGARAH GALIAN</td>
                <td colspan="2"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row mt-2 mb-2 no-print">
      <div class="col-12">
        <button type="button" class="btn btn-outline-dark mr-2" (click)="onBack()"><i class="fas fa-chevron-circle-left"></i> Back</button>
        <a [routerLink]="['/permit', id, 'print']" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
      </div>
    </div>
  </div>
</section>
