<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">Buyer Listing</h1>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6 col-12 p-1">
            <app-search-input [search]="search" (onSearch)="onSearch($event)"></app-search-input>
          </div>
          <div class="col-sm-6 col-12 p-1 text-right">
            <button type="button" class="btn btn-primary" (click)="goto('create')"><i class="fas fa-plus"></i> Add New</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-center" *ngIf="isEmpty(list) && !isLoading">
          <h4>No records found</h4>
        </div>

        <div class="table-responsive" *ngIf="!isEmpty(list) && !isLoading">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>
                  <app-sort-column [name]="'Name'" [sort]="'name'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Business Reg. No.'" [sort]="'registration_num'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Contact No.'" [sort]="'contact_no'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Email'" [sort]="'email'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Fax No.'" [sort]="'fax_no'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Address 1'" [sort]="'addr_line_1'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Postcode'" [sort]="'pstcode'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'City'" [sort]="'city'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'State'" [sort]="'state__name'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>
                  <app-sort-column [name]="'Country'" [sort]="'country__name'" [dir]="sortDir" [current]="sort"
                    (onSortBy)="onSortBy($event)"></app-sort-column>
                </th>
                <th>Trucks</th>
                <th>Drivers</th>
                <th>Users</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let o of list">
                <td>{{ o.name }}</td>
                <td>{{ o.registration_num }}</td>
                <td>{{ o.contact_no }}</td>
                <td>{{ o.email }}</td>
                <td>{{ o.fax_no }}</td>
                <td>{{ o.addr_line_1 }}</td>
                <td>{{ o.postcode }}</td>
                <td>{{ o.city }}</td>
                <td>{{ o.state.name }}</td>
                <td>{{ o.country.name }}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary" (click)="onTruck(o)"><i class="fas fa-truck"></i></button>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary" (click)="onDriver(o)"><i class="fas fa-id-card"></i></button>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary" (click)="onUser(o)"><i class="fas fa-user"></i></button>
                </td>
                <td class="text-nowrap">
                  <button type="button" class="btn btn-sm btn-primary mr-2" (click)="onEdit(o)"><i class="fas fa-pencil-alt"></i></button>
                  <button class="btn btn-sm btn-danger" (click)="onDelete(o)"><i class="fas fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer" *ngIf="totalCount">
        <div class="float-right">
          <pagination 
            [totalItems]="totalCount" 
            [itemsPerPage]="pageSize" 
            [maxSize]="MAX_PAGE_NUMBERS" 
            [(ngModel)]="page" 
            (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>
    </div>
  </div>
</section>
