.img-logo {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.hd-1 {
  font-weight: 900;
  font-size: 1.5rem;
}

.hd-2 {
  font-weight: 400;
  font-size: 1.2rem;
}

.mt {
  margin-top: -5%;
}

.bg {
  background: url('src/assets/img/a5.jpg') no-repeat center center fixed;
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
