.img-logo {
  max-width: 20%;
  height: auto;
  object-fit: contain;
}

.mt {
  margin-top: -200px;
}

@media screen and (max-width: 480px) {
  .img-logo {
    max-width: 60%;
    height: auto;
    object-fit: contain;
  }

  .mt {
    margin-top: -110px;
  }
}

.hd-1 {
  font-weight: 900;
  font-size: 1.5rem;
}

.hd-2 {
  font-weight: 400;
  font-size: 1.2rem;
}

.bg {
  background: url('src/assets/img/bg-login.jpg') no-repeat center center fixed;
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
