<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="mform">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Weight&nbsp;<span class="text-danger">*</span></label>
        <div class="col-sm-7">
          <input #weightInput type="text" class="form-control" placeholder="Actual Weight (kg)" name="weight" formControlName="weight"
            [ngClass]="{'is-invalid': invalid('weight')}">
          <small class="badge badge-danger" 
            *ngIf="invalid('weight') && f.weight.hasError('required')">
            Weight is required
          </small>
          <small class="badge badge-danger" 
            *ngIf="invalid('weight') && f.weight.hasError('pattern')">
            Weight is invalid
          </small>
        </div>
        <label class="col-sm-1 col-form-label">kg</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success mr-2 pl-4 pr-4" (click)="onYes()">{{ btnYesText }}</button>
    <button type="button" class="btn btn-default pl-4 pr-4" (click)="onHide()">Cancel</button>
  </div>
</div>