<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">Issue Purchase Order</h1>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <form class="form-horizontal" [formGroup]="mform" (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Buyer&nbsp;<span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <ng-select 
                [items]="buyerList" 
                bindLabel="name" 
                bindValue="id" 
                placeholder="Please select"
                (change)="onChangeBuyer($event)"
                formControlName="buyer_id" 
                name="buyer_id"></ng-select>
              <small class="badge badge-danger" 
                *ngIf="invalid('buyer_id') && f.buyer_id.hasError('required')">
                Buyer is required
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Materials</h3>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <div class="col-sm-2 col-4">
                  <ng-container>
                    <button type="button" class="btn btn-primary" (click)="onAddMaterial()">Add Material</button>
                  </ng-container>
                </div>
              </div>

              <div class="card" formArrayName="materialForms" *ngFor="let o of materialForms.controls; let i = index">
                <div class="card-header">
                  <h3 class="card-title">Item #{{ i + 1 }}</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" (click)="onRemoveMaterial(o)"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body" [formGroupName]="i">
                  <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Material&nbsp;<span class="text-danger">*</span></label>
                    <div class="col-sm-2">
                      <ng-select 
                        [items]="materialList" 
                        bindLabel="label" 
                        bindValue="id" 
                        placeholder="Please select"
                        formControlName="material_id" 
                        name="material_id"></ng-select>
                      <small class="badge badge-danger" 
                        *ngIf="invalidFg(o, 'truck_id') && hasErrorFg(o, 'truck_id', 'required')">
                        Material is required
                      </small>
                    </div>
                    <label class="col-sm-1 col-form-label">Truck&nbsp;<span class="text-danger">*</span></label>
                    <div class="col-sm-2">
                      <ng-select 
                        [items]="truckList" 
                        bindLabel="registration_num" 
                        bindValue="id" 
                        placeholder="Please select"
                        formControlName="truck_id" 
                        name="truck_id"></ng-select>
                      <small class="badge badge-danger" 
                        *ngIf="invalidFg(o, 'truck_id') && hasErrorFg(o, 'truck_id', 'required')">
                        Truck is required
                      </small>
                    </div>
                    <label class="col-sm-1 col-form-label">Driver&nbsp;<span class="text-danger">*</span></label>
                    <div class="col-sm-2">
                      <ng-select 
                        [items]="driverList" 
                        bindLabel="label" 
                        bindValue="id" 
                        placeholder="Please select"
                        formControlName="driver_id" 
                        name="driver_id"></ng-select>
                      <small class="badge badge-danger" 
                        *ngIf="invalidFg(o, 'driver_id') && hasErrorFg(o, 'driver_id', 'required')">
                        Driver is required
                      </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Weight&nbsp;<span class="text-danger">*</span></label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" placeholder="Weight (tons)" name="weight" formControlName="weight"
                        [ngClass]="{'is-invalid': invalidFg(o, 'weight')}">
                      <small class="badge badge-danger" 
                        *ngIf="invalidFg(o, 'weight') && hasErrorFg(o, 'weight', 'required')">
                        Weight is required
                      </small>
                      <small class="badge badge-danger" 
                        *ngIf="invalidFg(o, 'weight') && hasErrorFg(o, 'weight', 'pattern')">
                        Weight is invalid
                      </small>
                    </div>
                    <label class="col-sm-1 col-form-label">tons</label>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <h4 class="card-title">Receiver Details</h4><br>
                      <hr>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Name&nbsp;<span class="text-danger">*</span></label>
                    <div class="col-sm-11">
                      <input type="text" class="form-control" placeholder="Name" name="recv_name" formControlName="recv_name"
                        [ngClass]="{'is-invalid': invalidFg(o, 'recv_name')}">
                      <small class="badge badge-danger" 
                        *ngIf="invalidFg(o, 'recv_name') && hasErrorFg(o, 'recv_name', 'required')">
                        Name is required
                      </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Address&nbsp;<span class="text-danger">*</span></label>
                    <div class="col-sm-11">
                      <input type="text" class="form-control" placeholder="Address" name="recv_addr_line_1" formControlName="recv_addr_line_1"
                        [ngClass]="{'is-invalid': invalidFg(o, 'recv_addr_line_1')}">
                      <small class="badge badge-danger" 
                        *ngIf="invalidFg(o, 'recv_addr_line_1') && hasErrorFg(o, 'recv_addr_line_1', 'required')">
                        Address is required
                      </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-11 offset-sm-1">
                      <input type="text" class="form-control" placeholder="Address 2" name="recv_addr_line_2" formControlName="recv_addr_line_2">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-11 offset-sm-1">
                      <input type="text" class="form-control" placeholder="Address 3" name="recv_addr_line_3" formControlName="recv_addr_line_3">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Postcode&nbsp;<span class="text-danger">*</span></label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" placeholder="Postcode" name="recv_postcode" formControlName="recv_postcode"
                        [ngClass]="{'is-invalid': invalidFg(o, 'recv_postcode')}">
                      <small class="badge badge-danger" 
                        *ngIf="invalidFg(o, 'recv_postcode') && hasErrorFg(o, 'recv_postcode', 'required')">
                        Postcode is required
                      </small>
                    </div>
                    <label class="col-sm-1 col-form-label">City&nbsp;<span class="text-danger">*</span></label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" placeholder="City" name="recv_city" formControlName="recv_city"
                        [ngClass]="{'is-invalid': invalidFg(o, 'recv_city')}">
                      <small class="badge badge-danger" 
                        *ngIf="invalidFg(o, 'recv_city') && hasErrorFg(o, 'recv_city', 'required')">
                        City is required
                      </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-1 col-form-label">State&nbsp;<span class="text-danger">*</span></label>
                    <div class="col-sm-3">
                      <ng-select 
                        [items]="getStateList(o)" 
                        bindLabel="name" 
                        bindValue="id" 
                        placeholder="Please select"
                        formControlName="recv_state_id" 
                        name="recv_state_id"></ng-select>
                      <small class="badge badge-danger" 
                        *ngIf="invalidFg(o, 'recv_state_id') && hasErrorFg(o, 'recv_state_id', 'required')">
                        State is required
                      </small>
                    </div>
                    <label class="col-sm-1 col-form-label">Country&nbsp;<span class="text-danger">*</span></label>
                    <div class="col-sm-7">
                      <ng-select
                        [items]="countryList" 
                        bindLabel="name" 
                        bindValue="id" 
                        placeholder="Please select"
                        (change)="onChangeReceiverCountry($event, o)"
                        name="recv_country_id"
                        formControlName="recv_country_id"></ng-select>
                      <small class="badge badge-danger" 
                        *ngIf="invalidFg(o, 'recv_country_id') && hasErrorFg(o, 'recv_country_id', 'required')">
                        Country is required
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="col-12">
                <button type="button" class="btn btn-outline-dark mr-2" (click)="onBack()"><i class="fas fa-chevron-circle-left"></i> Back</button>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
