.home-page {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 80vh;
}

.home-box {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img-logo {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.bg {
  background: url('src/assets/img/bg-home.jpg') no-repeat center center fixed;
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 92%;
  position: fixed;
  top: 0;
  left: 0;
}
